* text=auto eol=crlf

*.png binary
*.jpg binary                                                                                                                                                                                                                                                                                                                                                       
*.jpeg binary
*.ogg binary
*.tde binary
*.vox binary
